extends layout

block content
    div(class="jumbotron")
        h1 Projects Site
        p This site will be a collage of projects that I have completed. This site may be subject to neglect if I am too busy to update it.
        p This project it self is being hosted on my raspberry pi. I am using nginx(a webserver) and cloudflare(a dns server) to host this site with https credentials.
        p If enough interest is shown, i will be post a tutorial. Posting tutorials is not my forte, but willing to give it a shot.
    div(class="row")
        each proj in project
            div(class="col-sm-12 col-md-6")
                div(class="card")
                    img(class="card-img" src='/images/proj/'+proj.img)
                    div(class="card-body")
                        h4(class="card-title")=proj.name
                        each li in proj.link ? proj.link : []
                            a(href=li.ref target="_blank" style = "margin-right:10px")=li.name
                        div(style="margin-top:1rem")
                        each desc in proj.description ? proj.description : ""
                            h5=desc.title
                            each d in desc.body ? desc.body : ""
                                p=d
